<div ng-class="model.detailsbg">

    <div class="jumbotron" ng-style="{ 'background-image' : getImage(), 'background-size' : '1250px 250px' }">
        <p><h1>{{model.location_name}}</h1></p> &nbsp;&nbsp;
    </div>
    <span class="rating">
<span class="star"></span>
<span class="star"></span>
<span class="star"></span>
<span class="star"></span>
<span class="star"></span>
</span>
    &nbsp;<span><h4><a href=""><span class="glyphicon glyphicon-heart"></span></a> &nbsp; <a href=""><span class="glyphicon glyphicon-ok"></span></a> &nbsp; &nbsp; <a ng-click="model.goToImageGallery($event)">Image Gallery</a> &nbsp; <a ng-click="model.goToGmaps($event)">Google Maps</a> &nbsp; <a ng-click="model.goToReviews($event)">Reviews</a> &nbsp; <a ng-click="model.goToPtsOfInterest($event)">Points of Interest</a></h4></span>
    <br>
<div ng-bind-html="model.location_content">

</div>
    <h2 id="imgGallery">Image Gallery:</h2>
    <div>
    <iframe
            class = "nobg embed-responsive-item"
            ng-src={{model.imgSrc}}
            frameborder="0" width="350" height="500" scrolling="yes" marginwidth="0" marginheight="0">
    </iframe>
        </div>
    <h2 id="ptsOfInterest">Points of Interest:</h2>
    <div class="row">
        <div  ng-repeat="poi in yelpInfo.businesses">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img ng-src="{{poi.image_url}}" alt="">
                <div class="caption">
                    <h4>{{poi.name}}</h4>
                    <div ng-repeat="addr in poi.display_address">
                    <p>{{addr}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <h2 id="gmaps">Google Maps:</h2>
    <div id="map" class="nobg"></div><ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-marker
            idkey="marker.id" coords='marker.location'>
    </ui-gmap-marker>
</ui-gmap-google-map>

    <h2 id="reviews">Reviews</h2>
    <h4 ng-hide="currentUser">Sign in to post reviews</h4>
    <div class="row" ng-show="currentUser">

        <div class="col-md-6">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea placeholder="What are your thoughts about this place?" ng-model="model.commentBox"></textarea>
                        <ul>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                        </ul>
                        <button type="submit" class="btn btn-success green" ng-click="model.postComment()"><i class="fa fa-share"></i> Share</button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>

    </div>

    <!-- Displaying comments -->
    <div ng-repeat="comment in model.comments">
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#/profile"><strong>{{comment.username}}</strong></a> <span class="text-muted">{{comment.timestamp}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span class="glyphicon glyphicon-remove" ng-click="model.deleteComment($index)"></span>
                </div>
                <div class="panel-body">
                    {{comment.comment}}
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div>
    </div>
</div>