
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Forms</title>
</head>

<body>

            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#formtable">Forms</a></li>
                <li role="presentation"><a href="#/form-fields">Fields</a></li>
            </ul>
            <div class="table-responsive" id="formtable">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                    </tr>
                    <tr>
                        <th><input type="text" class="form-control" name="formname" placeholder="name" ng-model="frmname"></th>
                        <th>
                            <a href="#" ng-click="addForm()"><span class="glyphicon glyphicon-plus incrsize"></span></a>&nbsp;&nbsp;&nbsp;
                            <a href="#"><span class="glyphicon glyphicon-ok incrsize"</span></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="form in forms">
                        <td><a href="form-fields.view.html" ng-click="selectForm($index)">{{form.name}}</a></td>
                        <td>
                            <a href="#" ng-click="deleteForm($index)"><span class="glyphicon glyphicon-remove incrsize"></span></a>&nbsp;&nbsp;&nbsp;
                            <a href="#" ng-click="updateForm($index)"><span class="glyphicon glyphicon-pencil incrsize"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

</body>
</html>
