<h1 class="page-header">Profile</h1>

<form class="form-horizontal">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" height="200" width="200" class="thumbnail">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label label-left">Username:</label>
        <div class="col-sm-7">
            <input type="text" size="10" class="form-control" id="inputName" placeholder="Username" ng-model="model.username">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="model.password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName2" class="col-sm-2 control-label">First Name:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="inputName2" placeholder="First Name" ng-model="model.firstName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">Last Name:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="inputName3" placeholder="Last Name" ng-model="model.lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-7">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="model.email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">Hometown:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="inputName3" placeholder="City, State, Country" ng-model="model.hometown">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">Date of Birth:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="inputName3" placeholder="mm/dd/yyyy" ng-model="model.dob">
        </div>
    </div>
    <div class="form-group" ng-show="currentUser.favoriteLocations">
        <label for="inputName3" class="col-sm-2 control-label">Favorite Places:</label>
        <ul ng-repeat="location in currentUser.favoriteLocations">
            <li><a href="#/details/{{location.locationId}}">{{location.locationTitle}}</a></li>
        </ul>
    </div>

    <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">Commented on:</label>

    </div>

    <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">No of followers:</label>

    </div>

    <div class="form-group">
        <label for="inputName3" class="col-sm-2 control-label">Images Uploaded:</label>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="model.update()">Update</button>
        </div>
    </div>
    <div ng-show="model.updateMessage" class="alert alert-success" role="alert">{{model.updateMessage}}</div>
    <div ng-show="model.updateErrorMessage" class="alert alert-danger" role="alert">{{model.updateErrorMessage}}</div>
</form>
