.incrsize {
    font-size: 25px;
}

.separator {
    color: black;
    background-color: black;
    border-color: black;
}

.form-group input[type=text], input[type=password], input[type=email] {
    width: 40%;
}
