.incrsize {
    font-size: 125%;
}

.separator {
    color: black;
    background-color: black;
    border-color: black;
}

.form-group input[type=text], input[type=password], input[type=email], button[type=submit] {
    width: 40%;
}

#registerbtn {
    width: 40%;
}
