<div class="page-header text-center" id="pgheader">
    <h1 id="welcomePageTitle">Welcome to Tourista!</h1>
</div>
<div class="form-group">
    <!--<div class="row">
        <div class="col-sm-2">
            <h4><label for="mainsearch" class="label label-default" id="mainSearchLabel"><i>Take me to:</i></label></h4>
        </div>

        <div class="col-sm-8">
            <input class="form-control input-lg" ng-model="model.searchtxt" type="text" id="mainsearch" placeholder="Name of a City,State or Country">
        </div>

        <div class="col-sm-2">
            <button class="btn btn-primary btn-block btn-lg" ng-click="model.search(model.searchtxt)" type="button">Search</button>
        </div>

    </div>-->

    <div class="row">
        <div class="col-sm-2">
            <h4><label for="mainsearch" class="label label-default" id="mainSearchLabel"><i>Take me to:</i></label></h4>
        </div>
    <div class="col-sm-8" id="mainsearch">
    <autocomplete attr-class="autocomplete" ng-model="model.inputLocation" data="model.loc" attr-input-class="form-control input-lg" attr-placeholder="Name of a City, State or Country"></autocomplete>
        </div>
    <div class="col-sm-2">
        <button class="btn btn-primary btn-block btn-lg" ng-click="model.search(model.inputLocation)" type="button">Search</button>
    </div>

</div>





</div>
