<div class="page-header text-center" id="pgheader">
    <h1>Welcome to Tourista !</h1>
</div>
<div class="input-group input-group-lg">
    <label class="input-group-addon" id="mainSearchLabel"><i>Take me to:</i></label>

    <input class="form-control" ng-model="model.searchtxt" type="text" id="mainsearch" placeholder="Name of a City,State or Country">
             <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="model.search(model.searchtxt)" type="button">Search</button>
                 </span>
</div>
