<div ng-class="detailsbg">
<h1>{{location_name}}</h1>

<div ng-bind-html="location_content">

</div>
    <h2>Image Gallery:</h2>
    <iframe
            class = "nobg"
            ng-src={{imgSrc}}
            frameborder="0" width="500" height="500" scrolling="no" marginwidth="0" marginheight="0">
    </iframe>
    <h2>Points of Interest:</h2>
    <div class="row">
        <div  ng-repeat="poi in yelpInfo.businesses">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img ng-src="{{poi.image_url}}" alt="">
                <div class="caption">
                    <h4>{{poi.name}}</h4>
                    <div ng-repeat="addr in poi.display_address">
                    <p>{{addr}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <h2>Google Maps:</h2>
    <div id="map" class="nobg"></div><ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    <h2>Reviews</h2>
    <h4 ng-hide="currentUser">Sign in to post reviews</h4>
    <div class="row" ng-show="currentUser">

        <div class="col-md-6">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea placeholder="What are your thoughts about this place?" ></textarea>
                        <ul>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                        </ul>
                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>

    </div>
</div>
</div>